<html>
    <head>
        <title>KHU'S blog</title> 
    </head>
    <body>
        <!-- Header Section -->
         <header> 
                <h1>자화상 - 윤동주 </h1>
                <hr size="10" align="left" width="100%" noshade="noshade" </hr>
        </header>
        <!-- Navigation Section -->
        <section>
            <h3 align="center"><strong>&lt; 자화상 &gt;</strong></h3>
            <p align="center"><strong>윤동주</strong></p>
            <hr width="50%" align="center"></hr>
            <p style="line-height: 2.5;">
                산모퉁이를 돌아 논가 외딴 우물을 홀로 찾아가선 가만히 들여다봅니다.<br>
                우물 속에는 달이 밝고 구름이 흐르고 하늘이 펼치고 파아란 바람이 불고 가을이 있습니다.<br>
                그리고 한 사나이가 있습니다.<br>
                어쩐지 그 사나이가 미워져 돌아갑니다.<br>
                돌아가다 생각하니 그 사나이가 가엾어집니다. 도로 가 들여다보니 사나이는 그대로 있습니다.<br>
                돌아가다 생각하니 그 사나이가 그리워집니다.<br>
                우물 속에는 달이 밝고 구름이 흐르고 하늘이 펼치고 파아란 바람이 불고 가을이 있고 추억처럼 사나이가 
                있습니다.</p>
            <aside>
                <h2>윤동주 시인의 다른 시</h2>
                <ul> 
                    <li>서시</li>
                    <li>자화상</li>
                    <li>눈우는 지도</li>
                    <li>새로운 길</li>
                    <li>길</li>
                    <li>별 헤는 밤</li>
                    <li>쉽게 씌어진 시시</li>
                    <li>참회록록</li>
                    <li>못 자는 밤밤</li>
                    <li>비오는 밤밤</li>
                    <li>소낙비비</li>
                </ul>
            </aside>
            <hr width="100%"></hr>
        </section>
        <!-- Footer Section -->
        <footer>
            <p align="left">&copy;웹서비스프로그래밍밍 &reg;2020</p>
    
        </footer>
    </blog>
</html>

